.MainDiv {
    padding: 0;
}
.MainDiv h2{
    color: aliceblue;
}
.MainDiv div div {
    height: 300px;
}
.MainDiv textarea {
    font-size: 1.4rem;
    font-style: italic;
}
.Txt {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
    font-size: 1.5rem;
}