.SelectMaindiv {
    font-size: inherit;
}
.SelectMaindiv select {
    font-size: 1.3rem;
    font-weight: bold;
}
.KeyMaindiv input {
    font-size: 1.4rem;
    font-style: italic;
}


@media (max-width: 991px) {
    .SelectMaindiv {
       margin: auto;
    } 
}